h3 {
   font-family: 'Share Tech Mono', monospace;
   color: #fcfffa;
   background-color: #0f0606;
   text-align: center;
   font-size: 1.3rem;
   padding: 8px;
}

h1,
h2 {
   font-family: Electrolize, sans-serif;
   background-color: #b0b3af;
   text-align: center;
   padding: 10px;
   font-size: 1.5rem;
}

p {
   font-family: 'Share Tech Mono', monospace;
   color: #fcfffa;
}

body {
   background-color: #0f0606;
   margin: 4px;
}

a {
   text-decoration: none;
   color: #ed6d64;
}

a:hover {
   background-color: lightgrey;
}

div {
   background-color: #0f0606;
   width: 800px;
   margin: auto;
   padding: 10px;
   line-height: 18px;
}

.first {
   height: inherit;
   padding: 10px 50px;
}

.second {
   height: inherit;
   padding: 10px 50px;
}

.third {
   height: inherit;
   padding: 10px 50px 20px;
}

nav ol li {
   background-color: #0f0606;
   width: 450px;
   margin: auto;
   color: #fcfffa;
   font-size: 1.1rem;
   line-height: 20px;
   font-family: 'Share Tech Mono', monospace;
}

.firstpic {
   padding-bottom: 20px;
   width: 55vw;
   height: 55vh;
}

.sndpic {
   width: 55vw;
   height: 55vh;
   margin: 5px;
}
